{% extends 'demoapp/base.html' %}
{% block content %}
<h1>Preview form</h1>
<p>Valid page: {{ form.is_valid }}</p>
<h2>Preview</h2>
<h3>{{ form.is_valid }} {{ form.slug }}</h3>
{% for field in form.preview %}
<p><b>{{ field.0 }}</b>: {{ field.1 }}</p>
{% endfor %}
<p>Data: {{ form.data }}</p>
<p>Cleaned data: {{ form.cleaned_data }}</p>
<p>POST: {{ view.request.POST }}</p>
<p>FILES: {{ view.request.FILES }}</p>
<form method="post" action="../"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% csrf_token %}
{{ form.as_table }}
<input type="submit">
</form>
<p><a href="../">Form</a> <b>Preview</b></p>
{% endblock content %}
